h1 {
    text-align: center;
    font-size: 60px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: black; 
}

ul {
  background-color: lightpink;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
li {
    float: center;
}
li a{
  background-color: lightpink;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: lavender;
}
li:last-child {
  border-right: none;
}

body {
    background-color: #ffE1Ef;
}

.centeredAlbum {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}

.centeredAlbumTitle {
  text-align: center;
  font-size: 12px;
}

.albumDescription {
  font-size: 20px;
}

.problemText{
  font-style: italic;
  font-size: 20px;
}
